.container {
    display: flex;
    justify-content: center;
    margin: 18em;
}

.loader {
    position: relative;
}

.loader::before,
.loader::after {
    content: "";
    width: 3em;
    height: 3em;
    position: absolute;
    border-radius: 50%;
}

.loader::before {
    background-color: chartreuse;
    left: 0;
    transform: translate(20px);
    animation: moveleft 1s ease infinite;
}

.loader::after {
    background-color: cornflowerblue;
    right: 0;
    transform: translate(-20px);
    animation: moveright 1s infinite;
}

@keyframes moveright {
    0% {
        transform: translate(-20px);
    }
    50% {
        transform: translate(10px);
        background-color: rgba(110, 133, 177, 0.425);
    }
    100% {
        transform: translate(-20px);
    }
}

@keyframes moveleft {
    0% {
        transform: translate(20px);
    }
    50% {
        transform: translate(-10px);
        background-color: rgba(130, 211, 49, 0.774);
    }
    100% {
        transform: translate(20px);
    }
}

.main {
    margin-top: 5em;
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
}